/* RESETS */
html,
body {
  padding: 0;
  margin: 0;
  font-family: inter-regular;
  height: 100vh;
  width: 100vw;
}
#__next{
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

/* FONTS */
@font-face {
  font-family: "inter-regular";
  src: url("/fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: "inter-bold";
  src: url("/fonts/Inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "inter-light";
  src: url("/fonts/Inter/Inter-Light.ttf");
}

/* VARIABLES */
:root{
  --light-gray: rgb(137,146,164);
  --dark-gray: rgb(106,110,120);
  --main-green: rgb(95,145,83);
}

p{
  color: var(--light-gray);
  font-family: inter-light;
}